@charset "UTF-8";

 :root{
    --bocchi: #FF4FA3;
}

@media screen and (min-width: 768px){
    body{
        background: linear-gradient(rgba(0, 0, 0, 0.5)), url(imagens/fundo-inicio-tablet.png) center no-repeat;
        background-size: cover;
    }
    body::before{
        display: none;
    }

    article > h1{
        font-size: 5rem;
    }
    article .texto{
        width: 300px;
        font-size: 1em;
    }
    .botoes a{
        width: 270px;
        height: 50px;
    }
}

@media screen and (min-width: 1024px){
    body{
        background: linear-gradient(rgba(0, 0, 0, 0.5)), url(imagens/fundo-inicio.png) center no-repeat;
        background-size: cover;
    }
    section.container{
         padding-top: 130px;
         padding-left: 80px;

    }
    article > h1{
        font-size: 100px;
    }
    .botoes a:hover{
        background-color: #6a2144;
    }
}

